header{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
}

main{
    background-color: beige;
    padding: 10px;
}

section{
    background-color: honeydew;
    padding: 10px;
    margin: 10px;
}

caption{
   font-weight: bold;
   font-size: large;
}

.listi{
    margin: 0px;
    padding-left: 20px;
}

th, td{
    padding: 5px;
}

footer{
    background-color: burlywood;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*
    AAAAAAAAAA Afhverju er myndin of stór til að passa á skjáinn?! AFHVERJU GERIRU EKKI BARA ÞAÐ SEM ÉG VILL!? ÞETTA VIRKAR FULLKOMLEGA Í ÖLLU NEMA FULL SCREEN
*/

.tab2{
    background-image: url(/myndir/WIP.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}

.tab2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    gap: 3px;
    font-weight: bold;
}

.section2{
    display: flex;
    gap: 100px;
}